# Block folder to be updated and uploaded to Github
templates/
/template[25Apr23].json
powershell_script_testing/
*.hcl
terraform_files/.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars